/* Diminui a fonte do placeholder do input Valor Adicional */
#valorAdicionalInput::placeholder {
  font-size: 8px;
  white-space: pre-line;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
/* Diminui a fonte do placeholder do input Valor Adicional */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Ensure content isn't hidden behind fixed NavBar */
  padding-top: var(--navbar-height, 56px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
